.castoro {
    font-family: 'Castoro Titling', cursive;
  }
  
  .bagel {
    font-family: 'Bagel Fat One', cursive;
  }
  
  .oswald {
    font-family: 'Oswald', sans-serif;
  }
  
  .roboto {
    font-family: 'Roboto', sans-serif;
  }