.search-list-custom {
    cursor: pointer;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
  }
  
  .search-list-custom img{
    border-radius: 5px;
  }
  
  .my-row [class^="col-"] {
    padding-right: 0;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .mobile-serach {
    display: none;
  }

  @media screen and (max-width: 575px) {
    .pc-serach {
      display: none;
    }
    .mobile-serach {
      display: block;
    }
    .mobile-img-result {
      max-width: 100px;
    } 
  }